{% extends 'template.html.twig' %}

{% block Title %}New Book
{% endblock %}

{% block PageTitle %}
    Create a book
{% endblock %}

{% block PageContent %}
    {% if form is defined %}
    {% form_theme form "bootstrap_5_layout.html.twig" %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.title) }}
        </div>
        <div class="col">
            {{ form_row(form.publicationDate) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label>Writer(s)</label> {{form_widget(form.writer)}}
            <a href="" class="btn btn-success">add a writer</a>
        </div>
        <div class="col">
            <label>Penciler(s)</label> {{form_widget(form.penciler)}}
            <a href="" class="btn btn-success" >add a penciler</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label>Publisher</label> {{form_widget(form.publisher)}}
            <a href="paht" class="btn btn-success">add a Publisher</a>
        </div>
        <div class="col">
            <label>Collection</label> {{form_widget(form.collection)}}
            <a href="" class="btn btn-success" >add a Collection</a>
        </div>
    </div>
        {{ form_rest(form) }}
    {% endif %}
{% endblock %}